.landing-block-node-marquee-link {
  overflow: hidden;
  box-sizing: border-box;
  display: inline-flex !important;
  align-items: center;
  padding: 5px 0;
  height: 100%;
}
a.landing-block-node-marquee-link:not(.g-text-underline):hover {
  text-decoration: none !important;
}
.twpxMarquee .marquee3k {
  overflow: hidden;
}
.twpxMarquee .marquee3k__wrapper {
  height: 100%;
}
