.landing-block-node-breadcrumbs-container {
  --gap-hor: 8px;
  --gap-ver: 8px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  column-gap: var(--gap-hor);
  row-gap: var(--gap-ver);
}
.landing-block-node-breadcrumbs-item {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--gap-hor);
}
.landing-block-node-breadcrumbs-item span {
  --color: #000;
  display: block;
  color: var(--color);
  pointer-events: none;
}
.landing-block-node-breadcrumbs-item:last-child span {
  display: none;
}
.landing-block-node-breadcrumbs-item-link {
  white-space: nowrap;
}
a.landing-block-node-breadcrumbs-item-link {
  --color: #000;
  --color-hover: #000;
  color: var(--color);
}
a.landing-block-node-breadcrumbs-item-link:hover {
  color: var(--color-hover);
}
a.landing-block-node-breadcrumbs-item-link[href='#'] {
  cursor: default;
  pointer-events: none;
}
[id^='block'] a.landing-block-node-breadcrumbs-item-link[href='#'] {
  cursor: pointer;
  pointer-events: auto;
}

@media (max-width: 991px) {
  .landing-block-node-breadcrumbs-container {
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: hsl(0 0% 50%);
  }
}
